<link rel="stylesheet" type="text/css" href="/style.css">




<body>

<header>
	<nav>
		<ul>
			<a href="background.html"><li class="navitems">Background</li></a>
			<a href="index.html"><li class="navitems">Resume Page</li></a>
		</ul>
	</nav>
</header>


<h1>My Resume</h1><br><hr>
<br><br><br>

<img class="img-circle" src="https://scontent.cdninstagram.com/hphotos-xtp1/t51.2885-19/s150x150/11373785_1695052464059530_1794106505_a.jpg" align=left>
<br><br><br><br><br><br><br><br><br><br>
<p id="pshresume">Psh. Resume.</p>

<p class="mainbody">I inspired Metallica<br>and they just hook it up.</p>

<div id="LOG"><p> Now I'm helping Lamb of God with their next album. </p></div>
<br><br>

<div id="ozzie"><p>I'm also pushing Ozzie to go for a turtle instead of a bat this time.</p></div>
<div id="driver"><p>Oh, and DevilDriver got stuck with a couple lines on this sick song they're working on, so I'm filling in the blanks for them.
</p></div>
<p>METAL.</p>


<br>
<a href="https://www.linkedin.com/in/mckenzie-morrison-567a4153">Here's my LinkedIn just in case.</a>


</body>