body {text-align: left;color: #FFFFCC;font-family: "Garamond";}
ol{list-style-position: inside;}

#pshresume{font-size: 40px;}
.mainbody{font-family: "Garamond"; font-weight: bold}

body
{
	background-repeat: no-repeat; background-size:100%; background-image: url("http://eskipaper.com/images/lion-6.jpg")
}
.img-circle {
    border-radius: 50%;
}
img { 
   border:5px solid #FFFFCC;
}
nav{background-color: grey
}
.navitems{
	display: inline;
	margin: 10px;
}
#LOG{width: 49%;
display: inline-block;
border: 1px solid black;
}

#ozzie {width: 49%;
	display: inline-block;
	border: 1px solid black;
}
